<section id="comments">  
  
  <% if @question.is_private %>
    <p class="well">Commenting is disabled because this question is marked private. You may use the response button above (or edit the question if no response yet) to send a message to the expert assigned to this question.</p>
  <% end %>
   
  <% if !@question.is_private %>
    
    <div id="comment-count">
      <h2 id="responses" class="subhead_style bordered">
        <%= get_comment_count(@question) %>
      </h2>
    </div>
  
    <% if current_user %>
      <div id="new-comments-form">
        <%= render partial: 'comments/new_comments_form' %>
      </div>
    <% else %>
      <div class="sign_in_prompt" >
        <p>Please sign in to post a comment</p>
        <p><%= link_to("Sign in", new_user_session_path(:redirect_to => request.fullpath), :class => "btn btn-default" )%></p>
      </div>
    <% end %>
  <% end %>
  
  <div id="comments-list">
    <%= render :partial => 'comments/comments_list', :locals => {:comment_list => @question.comments, :parent_comment => nil} %>
  </div>
  
</section>

<script type="text/javascript">
  $(document).ready(function(){
    $('#new-comments-form .wysihtml5').wysihtml5({toolbar: { "fa": true, "image": false}});
    var highlightedComment = window.location.hash;
    $(highlightedComment).closest(".cc-comment").addClass("cc-highlight");
    
    $(".comment-timestamp").click(function() {
      $(".cc-comment").removeClass("cc-highlight");
      $(this).closest(".cc-comment").addClass("cc-highlight");
    });
  })
</script>
