@import "_variables";

.badge {
  display: block;
  position: absolute;
  bottom: -10px;
  right: -10px;
  line-height: 16px;
  height: 16px;
  font-size:11px;
  font-weight:normal;
  padding: 0 5px;
  font-family: Arial, sans-serif;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border: 2px solid #fff;
  @include rounded10;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8), inset 0 2px rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccc), color-stop(100%, #999));
  background-image: -webkit-linear-gradient(top, #aaa, #777);
  background-image: -moz-linear-gradient(top, #aaa, #777);
  background-image: -ms-linear-gradient(top, #aaa, #777);
  background-image: -o-linear-gradient(top, #aaa, #777);
  background-image: linear-gradient(top, #aaa, #777);
}
.highlight .badge {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF0000), color-stop(100%, #A1000F));
  background-image: -webkit-linear-gradient(top, #FF0000, #A1000F);
  background-image: -moz-linear-gradient(top, #FF0000, #A1000F);
  background-image: -ms-linear-gradient(top, #FF0000, #A1000F);
  background-image: -o-linear-gradient(top, #FF0000, #A1000F);
  background-image: linear-gradient(top, #FF0000, #A1000F);
}

.tag {background:#BDC9B0; @include rounded3; color:#888; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:13px;}
.tag a {padding:.1em .35em; background:#BDC9B0; @include rounded3; color:#888;}
.tag a:hover {background:#444; @include rounded3; color:#fff; text-decoration:none;}
.tag-geography,
.tag-geography a {background:#DAEAC9; color:#3E3553;}
.tag-geography a:hover {background:#53785E; color:#fff;}
.tag-geography {padding:.1em .35em;}
.tag-topic,
.tag-topic a {background:#C2E5EC; color:#1F5983;}
.tag-topic a:hover {background:#2C1946; color:#fff;}

h3.stylized {
  font-family: 'Sanchez', serif !important;
	font-size: 22px;
	line-height: 120%;
	margin-top:0px;
}

.incoming_question {margin-bottom:2em;}

.navbar {margin-bottom:25px;}
.navavatar .avatar_with_badge {border: 0;}

#expert_navbar-inner {border-bottom: 2px solid #000 !important; padding:.5em 40px .75em 40px;}
#expert_navbar-inner a.brand {font-size:1.4em; line-height:40px; padding:0;}
#expert_navbar-inner a:hover {color:#fff !important; text-decoration:none;}
#expert_navbar-inner .navavatar.loggedin a {color:#999;}
#expert_navbar-inner.navbar-inner {min-height:35px; height:40px;}


#user_actions {top:0;}
ul.navavatar>li {float:left; list-style:none; margin:0;padding:0; height:40px; line-height:40px;}
#username a#username_link {font-size:12px;}

#expert_navbar-inner.navbar-inner {
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif !important;
  font-size:12px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
}
#expert_navbar-inner a.brand {color:#fff !important;}



.avatar_with_badge {
  position:relative; 
  display:inline-block;
  border:2px solid #ccc;
  padding:2px;
  margin-bottom:8px;
}





@media screen and (min-width: 767px) {
  .brand img {width:360px;}
}

@media screen and (min-width: 767px) and (max-width: 979px) {
  .container {padding-left:20px; padding-right:20px;}
}

@media screen and (max-width: 767px) {
  body {padding:0;}
/*  body {border:1px solid red;}*/
  #expert_navbar.navbar {margin-bottom:0;}
  .container {padding-top:0;}
  #expert_navbar-inner {padding:.5em 6px .75em 15px;}
  #expert_navbar-inner a.brand {font-weight:normal !important;}
}


@media screen and (max-width: 979px) {
/*  body {border:4px solid lime;}*/
	#app_location {height:auto;margin-left:-1em;margin-right:-1em;}
	ul.nav {top:0;}
  
/*  #search_field {width:20em}*/
}	
@media screen and (min-width: 979px) and (max-width: 1200px) {
  .navbar .form-search {position:relative;top:-40px;}
}

@media screen and (min-width: 979px) {
/*  body {border:4px solid orange;}*/
  .brand img {width:360px;}
  #publicbar .brand {font-size:2.5em;}
	.navbar #publicbar .container {width: 940px; padding:2em;}
	#publicbar.navbar-inner {height:120px !important; background: #F47B28 !important;}
}
@media screen and (min-width: 1200px) {
/*  body {border:4px solid blue;}*/
  .brand img {width:auto;}
	.navbar #publicbar .container {width: 1170px; padding:2em 0;}
}
@media screen and (max-width: 420px) {
  .navavatar.loggedin.publicuser {display:block;float:none;}
  .hidecompact420 {display:none;}
/*  .navavatar .avatar_with_badge img {height:20px;width:20px;}*/
}
@media screen and (max-width: 480px) {
/*  #search_field {width:80%;}*/
  #extension_logo img {width:120px; height:auto;}
  #ask_an_expert_logo img {width:120px; height:auto;}
  #question_wrapper {padding:1em 0 !important;}
  h2.title {line-height:1.4em; margin:.5em 0 .85em; font-size:1.2em}
  .question_body {font-size:1.1em; line-height:1.3em;}
  #publicbar {padding:0;}
  #expertbar {padding:0;}
  #expertbar .container {padding:0;}
  #publicbar .container h1 {margin:0;}
  .brand {padding-left:20px;}
}
