@import "_variables";
/* ie 8 fixes */
.thumb {
  width: 40px !important;
  height: 40px !important;
}

.badge {
  display: block;
  position: absolute;
  bottom: -10px;
  right: -10px;
  line-height: 16px;
/*  height: 16px;*/
  font-size:11px;
  font-weight:normal;
  padding: 0 5px;
  font-family: Arial, sans-serif;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border: 2px solid #fff;
  @include rounded10;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8), inset 0 2px rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccc), color-stop(100%, #999));
  background-image: -webkit-linear-gradient(top, #aaa, #777);
  background-image: -moz-linear-gradient(top, #aaa, #777);
  background-image: -ms-linear-gradient(top, #aaa, #777);
  background-image: -o-linear-gradient(top, #aaa, #777);
  background-image: linear-gradient(top, #aaa, #777);
}
.highlight .badge {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF0000), color-stop(100%, #A1000F));
  background-image: -webkit-linear-gradient(top, #FF0000, #A1000F);
  background-image: -moz-linear-gradient(top, #FF0000, #A1000F);
  background-image: -ms-linear-gradient(top, #FF0000, #A1000F);
  background-image: -o-linear-gradient(top, #FF0000, #A1000F);
  background-image: linear-gradient(top, #FF0000, #A1000F);
}

.tag {background:#BDC9B0; @include rounded3; color:#888; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:13px;}
.tag a {padding:.1em .35em; background:#BDC9B0; @include rounded3; color:#888;}
.tag a:hover {background:#444; @include rounded3; color:#fff; text-decoration:none;}
.tag-geography,
.tag-geography a {background:#DAEAC9; color:#3E3553;}
.tag-geography a:hover {background:#53785E; color:#fff;}
.tag-geography {padding:.1em .35em;}
.tag-topic,
.tag-topic a {background:#C2E5EC; color:#1F5983;}
.tag-topic a:hover {background:#2C1946; color:#fff;}

.incoming_question a:hover {text-decoration:none;}
h3.stylized {
  font-family: 'Sanchez', serif !important;
	font-size: 22px;
	line-height: 120%;
	margin-top:0px;
}

.incoming_question {margin-bottom:2em;}

.navbar {margin-bottom:25px;}
.navavatar .avatar_with_badge {border: 0;}

#expert_navbar-inner {border-bottom: 2px solid #000 !important; padding:.5em 40px .75em 40px;}
#expert_navbar-inner a.navbar-brand {font-size:1.4em; line-height:40px; padding:0;}
#expert_navbar-inner a:hover {color:#fff !important; text-decoration:none;}
#expert_navbar-inner .navavatar.loggedin a {color:#999;}
#expert_navbar-inner.navbar-inner {min-height:35px; height:40px;}


#user_actions {top:0;}
ul.navavatar>li {float:left; list-style:none; margin:0;padding:0; height:40px; line-height:40px;}
#username a#username_link {font-size:12px;}

#expert_navbar-inner.navbar-inner {
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif !important;
  font-size:12px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
}
#expert_navbar-inner a.navbar-brand {color:#ccc !important;}



.avatar_with_badge {
  position:relative;
  display:inline-block;
  border:2px solid #ccc;
  padding:2px;
  margin-bottom:8px;
}


.subhead_style {
  font-family: 'Sanchez', serif;
  line-height: 120%;
  margin: 0px;
  width: 100%;
  color: #f07b05;
  padding: 10px 0;
}
.bordered {
  position:relative;
  border-top: 1px dotted #CCC;
  border-bottom: 1px dotted #CCC;
}
.bordered:before {
	content:"";
	position: absolute;
	top:1px;
	bottom:1px;
	left:0px;
	right:0px;
 	border-top:1px dotted #CCC;
	border-bottom:1px dotted #CCC;
}
.bordered:after {
	content:"";
	position: absolute;
	top:3px;
	bottom:3px;
	left:0px;
	right:0px;
 	border-top:1px dotted #CCC;
	border-bottom:1px dotted #CCC;
}

.response_block {margin-bottom:2em; border-bottom:1px solid #bbb;  background:#F7F7F7; padding:1.5em 1.5em 1.5em;
  border-left: 3px solid #F76F1F;
  }
.response_block div.response {font-size:17px;; line-height:1.6em; font-family: Georgia, serif; word-wrap:break-word; color:#000;}
.response_block div.signature {font-size:1.1em; line-height:1.4em; font-family: Georgia, serif;}
.response_block {margin-bottom:2em;}
.response_images {padding:1em; margin-bottom:1em;}
.response_images a.image_wrapper {padding:1px; margin-right:1em;float:left; border:1px solid #ddd;}
.response_block .author {padding: 0 0 0 1em;}

.question_body {font-size:20px; line-height:1.6em; font-family: Georgia, serif; word-wrap:break-word;}
.main_body p {font-size:20px; line-height:1.6em; font-family: Georgia, serif;}
.spaced_out {margin-bottom:2em; margin-top:2em; border-top:1px dashed #bbb; padding:.5em;}

/*h3.subhead_style {font-size: 22px;}*/

.question_image_wrapper {padding:2px; border:1px solid #ddd; display:block; float:left; margin-right:10px; background:#fff;}
.delete_question_image_wrapper {float:left;}
/*.images_wrapper {border:1px solid red;}*/
.size50x50 {width:50px !important; height:50px !important;}
.size80x80 {width:80px !important; height:80px !important;}
.size100w {width:100px !important;}
.size150w {width:150px !important; height: 150px;}
.size180w {width:180px !important; height: 180px;}
#extension_icon_512 {width:64px;height:64px;display:block; margin-right:2em; border:1px solid #ddd; padding:2px;}
#extension_icon_512 img {width:64px;height:64px;display:block;}
#responses {margin:1em 0; font-size:30px;}

.muted_link {color:#747474;}
.smallish {font-size:13px;}

.article_title {margin-bottom:.75em;}
/*.xl {max-width:80% !important;}*/

#flash_notification_wrapper {position:relative;}

#flash_notification {
    height:5em;
    width:100%;
    position:absolute;
    text-align:center;
    left:0px;
    top:0;
    z-index:100;
    opacity: 0.92;
    -moz-opacity: 0.92;
    -moz-box-shadow: #555 0px 0px 5px;
    box-shadow: #555 0px 0px 5px;
    background: #049cdb;
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    color:#fff;
    cursor:pointer;
}
#flash_notification.notice {} //default
#flash_notification.error,
#flash_notification.warning {
    color: #000;
    background: #f3e942;
    background-image: -webkit-linear-gradient(top, #f3f1c4, #f3e942);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
}
#flash_notification p {padding: 1em; font-size:1.5em;}

.response-anchor {margin-top:-5em; position:absolute;}

#groupmasthead h1 {
  font-family: 'Sanchez', serif;
	font-size: 35px;
	line-height: 120%;
	color:#f07b05;
 	padding-bottom:10px;
}
#groupmasthead {
/*  position:relative;*/
/*  border-bottom:1px dotted #CCC;*/
  padding-bottom:10px;
  margin-bottom:20px;
}

.coopex {width: 300px; height: auto;
  float:right;
  padding-right: 10px;
  padding-top: 10px;
// outline:1px solid lime;
}
.widget-logos {background: #fff; padding: 10px; text-align:center; margin-bottom:20px;}
.widget-coopex-logo {float:right; width: 220px;}
.widget-aae-logo {float:left; width: 300px;}
.clearing {clear:both;}

@media screen and (min-width: 767px) {
  .navbar-brand img {width:360px;}
  .coopex {width: 240px;padding-right: 10px;padding-top: 10px;
  // outline:1px solid lime;
  }
}

@media screen and (min-width: 767px) and (max-width: 979px) {
  .container {padding-left:20px; padding-right:20px;}
  .article_title {font-size:26px;}
}

@media screen and (max-width: 767px) {
  body {padding:0;}
  .flash_notification_wrapper {
    margin-left:-26px; margin-right:-26px;
  }
  #expert_navbar.navbar {margin-bottom:0;}
  .container {padding-top:0;}
  #expert_navbar-inner {padding:.5em 6px .75em 15px;}
  #expert_navbar-inner a.navbar-brand {font-weight:normal !important;}
  #expert_navbar {background: #333;margin:0 0;padding:0 0;}

  .title {font-size:28px;}
  .article_title {font-size:18px;}
  .subhead_style {font-size: 24px !important;}
  .question_body {font-size:1.1em; line-height:1.3em;}
  .global-nav-mobile {display:block;}

  .app-navbar-items {margin:0;padding:0; float:none !important; clear:both;}
  .app-navbar-items li {
    display:block;
    float:none !important;
    text-align:left;
    padding:0;
    }
  .app-navbar-items li a {
    background:#FF964A;
    color:#fff;
    text-shadow: none;
    display:block;
    padding:10px;
  }
  .footer-links li {display:block; padding:0; border-right:0;}
  .footer-links li a {display:block; padding:5px 10px;}
  #searchform {float:left !important;}
  .coopex {width: 180px; float:right; padding-right: 10px;padding-top: 10px;
  // outline:1px solid yellow;
  }
  .navbar-brand.ex_logo {padding-left:0;}
  .navbar-brand.ex_logo img {width:250px;}
}


@media screen and (max-width: 979px) {
	#app_location {height:auto;margin-left:-1em;margin-right:-1em;}
	ul.nav {top:0;}
}
@media screen and (min-width: 979px) and (max-width: 1200px) {
  .navbar .form-search {position:relative;top:0; /*outline:lime 2px solid;*/}
  ul.nav {
  	position: relative;
  	top:0;
  }
}

@media screen and (min-width: 979px) {
  .navbar-brand img {width:360px;}
  #publicbar .navbar-brand {font-size:2.5em;}
	.navbar #publicbar .container {width: 940px; padding:2em;}
	#publicbar.navbar-inner {height:120px !important; background: #F47B28 !important;}
}
@media screen and (min-width: 1200px) {
  .navbar-brand img {width:auto;}
	.navbar #publicbar .container {width: 1170px; padding:2em 0;}
}
@media screen and (max-width: 450px) {
  .navavatar.loggedin.publicuser {display:block;float:none;}
  .hidecompact420 {display:none;}
  .coopex {width: 200px; float:left; padding-right: 10px;padding-top: 10px;
  // outline:1px solid blue;
  }
  .coopex-widget-logo {outline: 1px solid blue; text-align:center;}
  .coopex-widget-logo .coopex {outline: 1px solid red; margin: 0 auto; float: none;}

}
@media screen and (max-width: 480px) {
  .flash_notification_wrapper {margin-left:-26px; margin-right:-26px;}
  #flash_notification p {padding: 1em; font-size:18px;}
  #extension_logo img {width:120px; height:auto;}
  #ask_an_expert_logo img {width:120px; height:auto;}
  #question_wrapper {padding:1em 0 !important;}
  h2.title {line-height:1.4em; margin:.5em 0 .85em; font-size:1.2em}

  #publicbar {padding:0;}
  #expertbar {padding:0;}
  #expertbar .container {padding:0;}
  #publicbar .container h1 {margin:0;}
  .navbar-brand {padding-left:0;}
  .navbar-brand-dashboard {padding-left:20px;}
  #expert_navbar-inner a.navbar-brand {font-size:15px;}
  .navbar-brand.ex_logo img {width:250px;}
  .widget-coopex-logo {float:none; width: 160px; padding-bottom:10px;}
  .widget-aae-logo {float:none; width: 240px;}
}


#submitter_followup {margin-bottom:1em;}

.btn-orange[disabled], .btn-orange[disabled]:hover, .btn-orange[disabled]:focus, .btn-orange[disabled]:active {background-color:#aaa !important; border-color:#888;}
.text-italic {font-style:italic;}
.text-legal {line-height:1.2em;}

#widget-code { margin:1em 0; padding:.5em 0;}
#widget-code textarea {padding:.5em;font-family:monospace;font-size:12px;color:#0d027e;line-height:1.2em;overflow:auto;height:300px; width:100%}

.navbar-brand-dashboard:focus {color:#fff;}
/*.expert-navbar-container a.thumb:focus .avatar_with_badge {background: #ffff00;}*/
.help-faq {margin-top:2em;}
.help-faq h4 {margin-bottom:.25em;}
.help-faq-question{margin-bottom:1.5em;}

.text-input-large {width:12em;}
.code {font-family: monospace; color: #2046B5;}


.ask-an-expert-button {width: 180px; margin: 0 0 2em; display: block;}

.get-a-widget {margin:2em 0;}



.group_in_group_list {padding:1em 1em 0; border-bottom:1px solid #e5e5e5; clear:left;}
.group_in_group_list.inactive_group {padding:1em 1em .5em;}
.group_in_group_list h4 {margin:0;}
.group_in_group_list.downplay {padding-top:.75em; padding-bottom:0;}
.group_in_group_list.downplay p {padding-bottom:0; margin-bottom:0 !important;}
.group_in_group_list.downplay .avatar_with_badge {margin-bottom:0;}
.group_list_avatar {float:left; margin-right:1em;}
.inactive_group {background:#eee; padding:1em 1em 1em 0;}
.inactive_group, .inactive_group a {color:#999;}
.inactive_group img {opacity:0.4; filter:alpha(opacity=40);}


.image-upload-wrapper {padding:0 0 20px;}
.image-upload {margin: 15px 0;}
.image-upload ::-webkit-file-upload-button {
    color: #333;
    background: #ccc;
    font-size:18px;
    padding: 8px 16px;
    border: 1px solid #888;
    border-radius: 5px;
}
.new-site-question-button {
  text-transform: none !important;
  font-size: 1.3em !important;
}
.nobreak {white-space: nowrap;}
.ask-extension-notice  {
text-align: center;
max-width: 500px;
margin: 0 auto;
padding-bottom: 2em;}
.ask-extension-notice h1 {margin-bottom: 1em;}
.super-big {font-size: 2.5em;}
.super-big-button {font-size: 1.25em;}
