

.primary-group {background: #f47B28; padding: 20px; margin:20px 0;}
.primary-group-name {font-size: 30px; font-weight:normal; color:#fff; text-transform: capitalize;}
.primary-group-name a {color:#fff;}

.primary-group-description {color: #fff;}
.powered-by {font-size: 12px; color: #f47B28; margin: 40px 0; text-align:center;}

.title-alt {
  font-family: 'Sanchez', serif;
  font-size: 35px;
  line-height: 120%;
  color: #f07b05;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.title-small {font-size: 20px; color: #81858b; text-transform: uppercase; letter-spacing: 2px; font-weight: normal;}
.no-primary-groups {font-size: 20px; padding: 40px 0;}
