

.primary-group {background: #f47B28; padding: 20px; margin:20px 0;}
.primary-group-name {font-size: 30px; font-weight:normal; color:#fff; text-transform: capitalize;}
.primary-group-name a {color:#fff;}

.primary-group-description {color: #fff;}
