<p class="edit_location btn right">edit</p>

<h3><%= location.name %></h3>
  
<div class="ux_actions"></div>
  
<div class="show_counties">
  <% if @object.expertise_locations.where("location_id = ?", location.id).size > 0 %>

    <% if @object.expertise_counties.where("location_id = ?", location.id).size > 0 %>
      <ul>
        <% @object.expertise_counties.where("location_id = ?", location.id).each do |c| %>
          <li><%= c.name %></li>
        <% end %>
      </ul>

    <% else %>
      <ul>
        <li class="all_counties">All counties</li>
      </ul>
    <% end %>

  <% end %>
  
</div>