<p class="edit_location btn right">edit</p>

<h3><span class="tag tag-geography"><%= location.name %></span> <span id="location_<%= location.id %>" class="removestate btn">X</span></h3>
  
<div class="ux_actions"></div>
  
<div class="show_counties">
  <% if @object.expertise_locations.where("location_id = ?", location.id).size > 0 %>

    <% if @object.expertise_counties.where("location_id = ?", location.id).size > 0 %>
      <ul>
        <% @object.expertise_counties.where("location_id = ?", location.id).each do |c| %>
          <% if c.name != "Entire state" %>
            <li><span class="tag tag-geography"><%= c.name %></span> <span id="county_<%= c.id %>" class="removecounty btn">X</span></li>
          <% end %>
        <% end %>
      </ul>

    <% else %>
      <ul>
        <li class="all_counties">The entire state</li>
      </ul>
    <% end %>

  <% end %>
  
</div>