<p>The questions below were either created or reopened more than 24 hours ago and have not
yet been resolved. To view this list within the Ask an Expert application, please
visit:</p>

<p>http://www.extension.org/aae/question/escalation_report/3</p>


<p>** Please visit the question page before you start working. **</p>
<p>Link: http://www.extension.org/aae/question/103312</p>

<p>The question is:</p>
<p>"What is the difference between project 36001 "Photography National 4-H" and 36002 "Photography"?"</p>

<p>Question opened 16 days ago</p>


<p>*** PLEASE DO NOT REPLY TO THIS MESSAGE ***</p>
<p>If you have questions please contact us at:</p>

<p>http://www.extension.org/aae/help</p>

<p>--</p>
<p>eXtension Staff</p>
<p>http://about.extension.org</p>