<% if (params[:event_type] == "new") %>
  <p class="new_location_close btn right">cancel</p>
<% else %>
  <p class="edit_location_close btn right">done</p>
<% end %>

<h3><%= location.name %></h3>

<h4 class="all_counties_added" style="display:none;"><span>All counties added</span></h4>

<div class="ux_actions">
  
  <p>Choose your coverage area</p>

  <p class="add_all_counties btn-primary btn">All counties</p>

  <p class="pick_counties btn-primary  btn">Pick counties</p>

  <div id="county_picker" style="display:none;">
    <input class="input countyfield" id="countyfield" name="countyfield" placeholder="Type and select a county" type="text" value="" />
  </div>
</div>



  <div class="show_edited_counties">
    <%= render :partial => 'show_counties', :locals => {:location_id => location.id} %>
  </div>




