<p class="edit_location btn right">edit</p>

<h3><%= location.name %> <span id="location_<%= location.id %>" class="removestate btn">X</span></h3>
  
<div class="ux_actions"></div>
  
<div class="show_counties">
  <%= render :partial => 'show_counties', :locals => {:location_id => location.id} %>
</div>