<h1><%= link_to @user.name, expert_user_path(current_user.id) %></h1>

<h1>Locations</h1>

<%= render :partial => 'expert/settings/settings_navigation' %>

<div id="loc_wrapper" class="user" data-object="user" data-id="<%= @user.id %>">
  <%= render :partial => 'ajax/location_picker' %>
</div>