

<% if @question.is_private %>
  <% if @question.is_private_reason != Question::PRIVACY_REASON_REJECTED %>
    <aside id="private_question">
  
    <% if @question.is_private_reason == Question::PRIVACY_REASON_SUBMITTER %>
      <p class="private lock">Submitted as a private question</p>
      <div id="privacy_edit">
        <p><small>This question cannot be made public.</small></p>
      </div>
    <% end %>
  
    <% if @question.is_private_reason == Question::PRIVACY_REASON_EXPERT %>
      <p class="private lock">This question is private <span class="cursor make_public_link">edit</span></p>
      <div id="make_public_edit" style="display:none;">
        <p>This question was submitted as a public question, but an expert switched it to private.</p>
        <p class="btn btn-primary make_public">Make this question public again</p>
      </div>
    <% end %>
    </aside>
  <% end %>
<% else %>

  <aside id="public_question">
  
    <p class="public"><%= link_to "This question is public", question_path(@question.id) %> <span class="cursor make_private_link">edit</span></p>
  
    <div id="make_private_edit" style="display:none;">
      <p>This question was submitted as a public question, but it can be switched to private.</p>
      <p class="btn btn-primary make_private">Make this question private</p>
    </div>
  </aside>
  
<% end %>


<script class="code" type="text/javascript">
  
  $(".make_private_link").click(function () {
    $("#make_private_edit").toggle();
  });
  $(".make_public_link").click(function () {
    $("#make_public_edit").toggle();
  });

     $("#make_public_edit").on("click", ".make_public", function(){
       $.ajax({
         type: "POST",
           url: "<%= make_public_expert_question_path(:id => @question.id) %>",
           cache: false
       })
       .done(function() {
         $("#make_public_edit").hide();
       })
     });
     
     $("#make_private_edit").on("click", ".make_private", function(){
        $.ajax({
          type: "POST",
            url: "<%= make_private_expert_question_path(:id => @question.id) %>",
            cache: false
        })
        .done(function() {
          $("#make_private_edit").hide();
        })
      });

</script>