<div id="edit_response" class="formy">
    <h2>Edit Response</h2>
	<%= form_for @response, :url => update_response_expert_question_path(:id => @question.id, :response_id => @response.id) do |f| %>
	  <%= f.label(:body) %>
	  <%= f.text_area :body, :rows => "10", :cols => "60", class: 'wysiwyg' %>		
	  <%= submit_tag "Save changes", :class => 'btn btn-primary' %>    
	<% end %>
</div>