<h1><%= @question_count > 1 ? "#{@question_count} Questions" : "#{@question_count} Question" %> received from <%= @user.public_name %></h1>

<%= render :partial => 'question_list', :locals => {:questions => @questions, :question_count => @question_count} %>