<div id="sign_in" class="col-md-12">

  <h2>Sign-in for eXtension Experts</h2>

  <div class="sign_in_group">
  <p>
    <%= link_to authmap_omniauth_authorize_path(:people, :explicit_login => true, :redirect_to => (params[:redirect_to].present?) ? params[:redirect_to] : session[:user_return_to]) do %>
      <span class="btn btn-primary">Sign in with your eXtension account</span>
    <% end %>
  </p>
  
  </div>

</div>


<script class="code" type="text/javascript">

  $(document).ready(function() {
    $('.signup_option a').one('click', function() {
      $(this).after('<%= image_tag("spinner.gif", :size => "54x55", class: "spinner") %>');
    });
  });

</script>
