// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_variables";

#how_are_questions_assigned h1 {margin-bottom:1em;}
#how_are_questions_assigned h3 {margin-bottom:.5em; font-size:1.6em;}
#how_are_questions_assigned p {font-size:1.5em; line-height:1.5em; margin-bottom:.5em;}
#how_are_questions_assigned ul {margin-bottom:1em;}
#how_are_questions_assigned li {font-size:1.5em; line-height:1.5em; margin-bottom:0;}

#how_are_questions_assigned .well p {margin-bottom:1em;}