// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_variables";

body#public {

.incoming_question {margin:0 0 1em; border-bottom:2px solid #e5e5e5; padding:0 0 1em;}
#institution {width:90%; height:100px; background:#ccc; margin:0 0 2em;}

.single {width:50%;margin: 0 auto;}

.incoming_question a {
  text-decoration:none;
} 

.incoming_question p.question_body {
  font-size: 1.3em;
  line-height: 1.4em;
  font-family: Georgia, serif;
} 
.incoming_question h3 p {
  line-height: 1.2em;
/*  color: #161F21;*/
  font-size: 1.2em;
}

@media screen and (max-width: 480px) {
  .incoming_question p.question_body {font-size: 1.2em;} 
  .incoming_question h3 p {line-height: 1.2em; font-size: .9em;}
  
}

.response_count {font-weight:bold; font-size:1.1em; background:#fff; padding:.2em .5em; color:#555;}
}

.simple_border {border:1px solid #ddd;}

.serious-small {font-size:14px !important; font-weight:normal !important;}
.expert-navbar {margin:0;padding:0;background: #1b1b1b;}
.expert-dropdown-options {color:#aaa;}
.expert-dropdown-options:hover {color:#fff;}
.lime {outline:1px solid lime;}


.global-nav-internal-mobile {clear:both;}
.global-nav-internal-mobile .internal_nav li ul li {
  display:block !important;
  padding:0;
  text-align:left;
  
}
.global-nav-internal-mobile .internal_nav li ul li a {
   padding:10px; 
   display:block;
}

.app-navbar-items li {display:inline-block; 
/*  outline: 1px solid lime;*/
  }



/*override global nav styles*/
ul.extension_global_nav .group {padding:0 !important; border-right:0 !important; margin:0 !important}