@import "_variables";

body#public {
  .extension_global_nav {background:#333;}
  .navbar-inner {border-radius:0} 
  .formy {border:1px solid #E3E3E3; padding:1em; background:#fff; margin-bottom:2em;}
  #submitter_followup {margin:2em 0; font-size:1.8em;}
  #additional_comment h2 {margin-bottom:1em;}
  .clearing {clear:both;}
  .county_list {list-style:none;}
	.county_list li {padding:.2em;}
  .group_list_avatar {float:left; margin-right:1em;}
  .group_in_group_list {padding:1em 1em 0; border-bottom:1px solid #e5e5e5; clear:left;}
  .group_in_group_list.inactive_group {padding:1em 1em .5em;}
  .group_in_group_list h4 {margin:0;};
    #location_list {padding:0; margin:3em 0;}
    
  
  #user_masthead {margin:0 0 .75em; border-bottom:1px solid #e5e5e5; padding-bottom:1em;}
	#user_masthead a.medium {float:left; margin: 0 1.5em 2.5em 0;}
  .aboutme {clear:both; line-height:1.5em; margin:1em 0 .65em; color: #201B1B !important; font-family: Georgia, serif; font-size:1.3em;}
  .answered_question_images img {float:left; margin-right:1em;}
  .answered_question_images {margin-bottom:2.5em;}
  .answered_question_images_wrapper {width:120px; height:120px; overflow:hidden; border:1px solid #bbb; float:left; margin-right:1em; background:#D4D4D4;}
  .answered_question_images p {font-size:1.3em; line-height:1.4em}
  #localization {background:#eee; padding:2em;}
  #recent_photo_questions {background:#eee; padding:2em; margin-bottom:2em;}
  .navbar .nav > li > a {color:#fff; text-shadow:none;}
  
  .public_bio {font-size:1.35em; line-height:1.4em; font-family: Georgia, serif;}
  #extension_logo img {width:200px; height:auto; margin-right:.25em;}
  #ask_an_expert_logo img {width:200px; height:auto;}
  
  #publicbar h1 {float:left;}
  #publicbar.navbar-inner {background: #f47B28; border-radius:0; padding:0; border:0;}
  #searchform input, #searchform .btn  {margin:0;}
  
  #searchform span  {margin:0;
  display: inline-block;
  padding: 4px 12px 4px 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
  .navbar-inner{ filter:none;}
/*  #publicbar.navbar-inner .container {height:80px !important;}*/
  .question_body {font-size:1.5em; line-height:1.6em; font-family: Georgia, serif;}
  
  #publicbar .nav .active > a,
	#publicbar .nav .active > a:hover {
	  color:#fff;
    background:#f47B28;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow:none;
	}
	#publicbar .navbar-brand {color:#000;}
	
	#expertbar {border-bottom: 2px solid #000 !important; padding-top:.5em; padding-bottom:.75em;}
	#expertbar a.navbar-brand {font-size:1.4em; }
	#expertbar a:hover {color:#fff !important; text-decoration:none;}
	#expertbar .navavatar.loggedin a {color:#999;}
	#expertbar.navbar-inner {min-height:35px; height:35px;}
	.logout {margin-left:1em;}
	ul.navavatar.loggedin li.username {padding-left:0;padding-right:0;}
  
  #app_location.demo {background:#FFFF7E;}
  #content_wrapper {margin:3em 1.5em 1em;}
  .avatar {display:block; width:40px; height:40px; background:#bbb; border:1px solid #888;}
  .avatar.small {display:block; width:25px; height:25px; background:#bbb; border:1px solid #888; float:left; margin-right:1em;}

	.aae_protected_signin {line-height:1.6em; margin:1em 0 .65em; color: #201B1B !important; font-family: Georgia, serif; font-size:1.5em;}
	a.navbar-brand {color:#fff !important; text-shadow:none;}
/*  .navbar {height:80px !important;}*/
	
	.navavatar {float:right; /*padding:.5em 2em; */color:#fff;}
	.navavatar a {color:#fff;}
	.navlink {color:#fff;}
	.navavatar.loggedin img {border:#888 1px solid;}
	.navavatar.loggedin {padding-top:0;}
  ul.navavatar.loggedin > li {height:30px; line-height:30px;}
  
	.incoming_question a {color:#16426D;}
	
	#content_wrapper h3.main {margin-bottom:1em;}
	.container-fluid {max-width:1180px; margin: 0 auto;}
	.right {float:right;}
	
	.public_rejected {border:1px solid #ff0000; background:#fff;}
	.public_rejected {color:#ff0000;}
	textarea {width:40em; max-width:95%;}
	
	.smallish {color:#888;}
	.tag {background:#BDC9B0; @include rounded3; color:#888; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
	.tag a {padding:.1em .35em; background:#BDC9B0; @include rounded3; color:#888;}
	.tag a:hover {background:#444; @include rounded3; color:#fff; text-decoration:none;}
	.tag-geography,
	.tag-geography a {background:#DAEAC9; color:#3E3553; font-size: 1.1em !important;}
	.tag-geography a:hover {background:#53785E; color:#fff;}
	.tag-topic,
	.tag-topic a {background:#C2E5EC; color:#1F5983;}
	.tag-topic a:hover {background:#2C1946; color:#fff;}
	
	#publicbar.navbar-inner form {border:0;}
	#publicbar.navbar-inner a:hover {background:none;}
	
/*  #publicbar{outline:1px solid yellow;}*/
  #publicbar .container {border-top:1px solid #F47B28;}
	
	@media screen and (max-width: 979px) {
		#app_location {height:auto;margin-left:-1em;margin-right:-1em;}
		#search_field {width:20em}
	}	
	@media screen and (min-width: 979px) {
	  #publicbar .navbar-brand {font-size:2.5em;}
		.navbar #publicbar .container {width: 940px; padding:2em;}
		#publicbar.navbar-inner {height:120px !important; background: #F47B28 !important;}
	}
	@media screen and (min-width: 1200px) {
		.navbar #publicbar .container {width: 1170px; padding:2em 0;}
	}
	@media screen and (max-width: 420px) {
	  .navavatar.loggedin.publicuser {display:block;float:none;}
    .hidecompact420 {display:none;}
    .navavatar .avatar_with_badge img {height:20px;width:20px;}
	}
	@media screen and (max-width: 480px) {
	  #search_field {width:80%;}
	  #extension_logo img {width:120px; height:auto;}
    #ask_an_expert_logo img {width:120px; height:auto;}
    #question_wrapper {padding:1em 0 !important;}
    h2.title {line-height:1.4em; margin:.5em 0 .85em; font-size:1.2em}
    .question_body {font-size:1.1em; line-height:1.3em;}
    #publicbar {padding:0;}
    #expertbar {padding:0;}
    #expertbar .container {padding:0;}
    #publicbar .container h1 {margin:0;}
    .navbar-brand {padding-left:20px;}
	}
}


