// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_variables";

#secondary aside {padding:1em; @include rounded10; background:#eee; margin-bottom:2em;}

#secondary .expert aside {padding:0; background:none; margin-bottom:2em;}
.expert aside p {background:#eee; padding:.5em; @include rounded10;}

.expert aside a {color:#666;}

.not_answered {background:#fff; padding:1.25em; margin:2em 0 3em; color:#374553; border:1px solid #e5e5e5; }

.groupmasthead {border:1px solid #ddd; background:#eee; padding:2em; margin-bottom:3em;}

#comments_form textarea { width:100%; display:block; font-size:1.2em;}
h1.title {line-height:1.2em; margin:1em 0 .65em; color: #161F21; font-family: Georgia, serif; font-size:1.9em;}


label {font-weight:normal; font-size:1.4em; color:#555;}


label.error {
	color: red;
	font-style: italic
}
div.error { display: none; }
input:focus { border: 1px dotted black; }
input.error, textarea.error { border: 2px solid red; }
form.cmxform .gray * { color: gray; }


input.error, select.error, textarea.error  {
  border: 2px solid red;
  background-color:#ffffd5;
  color:red;
}

fieldset {margin-bottom:1.75em;}

.editpitch {background:#eee; padding:1em;}

#edit_question input.xl {width: 90%; max-width:100%; font-size:1.4em;}
#edit_question textarea.xl {width: 90%; max-width:100%; font-size:1.2em;}
.diff_box ul {margin:0; margin-bottom:2em; }
.diff_box li { list-style:none; margin: 0 0 .5em;  font-family: Georgia, serif; font-size:1.4em; line-height:1.3em; padding:.5em 1em; background:#fff;border:1px solid #eee;}
ins {text-decoration:none;}
ins strong {background:lime;}
del {color:#999;}
del strong {background:#F598A1; color:#000;}
.revision_description {margin:2em 0 4em; background:#E0E0E0; padding:.25em 1em;}
.revision_description p {font-size:1.2em; margin:1em 0;}
/*.revision_description p strong {background:#fff; color: #000; padding:.1em .5em; font-size:1.2em;}*/
.revision_description p strong {font-size:1.2em;}
.compared_to {font-size:1.6em !important; color:#888;}
.diff_box h3 {font-size:1.5em !important;}

#working_on_this_banner .in_progress {background:#2139A6; color:#fff; padding:1em; margin-bottom:2em;}
#working_on_this_banner .in_progress h3 {font-size:1.9em; font-weight:normal; color:#FBFF1D;}
#working_on_this_banner p {font-size:1.3em; line-height:1.4em;}

#working_on_this_sidebar #working_on_this {background:transparent; padding:1em; color:#133161;}
#working_on_this_sidebar h3 {font-size:1.4em; font-weight:normal;}
#working_on_this_sidebar p {font-size:1.1em; line-height:1.4em;}
#working_on_this_sidebar .currently h3 {font-size:1.5em;}
#working_on_this_sidebar .currently small {color:#555;}


.answer_in_progress span {background:#2139A6; font-size:.9em !important; padding:.1em .5em; font-weight:normal;}
.answer_in_progress {color:#fff;}

#working_on_this_banner #working_on_this.assigned_expert {background:#2139A6; color:#FBFF1D; padding:.25em 1em; margin-bottom:2em;}
#working_on_this_banner #working_on_this.assigned_expert p {margin:0;padding:0;}

.reassignment_warning {background:#FEFF8D; padding:1em; color:#444; margin:1em 0 1em; font-family: Georgia, serif; font-size:1.5em; line-height:1.4em;}
#about_reassign h3 {font-size:1.8em;}
#about_reassign p {font-family: Georgia, serif; font-size:1.3em; line-height:1.4em;}
#user_masthead.reassign {background:#e5e5e5 !important;}

.main_question {margin:0 0 2em; border:1px solid #e5e5e5;border-bottom:1px solid #bbb; background:#fff; padding:.5em 1.5em 1.5em;}
.main_question .title {margin:1em 0;}
.main_question .images_wrapper {margin:1.5em 0 2em;}
/*#main_question_meta {background:#f5f5f5; padding:1em; margin-top:1.5em; border:3px solid #fff;}*/
#main_question_meta {color:#999;}
#main_question_meta a {/*color:#16537A; *//*font-weight:bold;*/}
/*#tag_picker_wrapper {background:#f5f5f5; padding:1em; margin-top:1.5em; border:3px solid #fff;}*/
#tag_interface {padding:0 1em 1em;}
#tag_interface small {color:#777; font-weight:normal;}
#question_location {padding:1em 1em 0;}

.title_block {color:#103751; margin-left:.5em;}
.related_questions {background:transparent !important; color:#777; }
.related_questions h4 {font-weight:normal;}
/*.related_questions a {color:#444;}*/
#inline_question_actions {border:1px solid #fff; padding:0 0 2em; margin-bottom:2em; background:transparent;}
.response_count {background:#DBE4E9; padding:.75em 1em; color:#122A38; margin:0 0 0 !important; }
.response_count {font-size:1.4em; }
div.rejected {padding:1em; @include rounded10; margin-bottom:2em; background:#F5E6E8 !important; border:3px solid red;}


#answer_form {border:1px solid #ddd; clear:both; padding:1em; background:#eee; margin-top:2em;}
#question_assignment h3 {color:#666; font-weight:normal; font-size:1.2em;}
#associated_group h4 {color:#666; font-weight:normal; font-size:1.2em;}


#show_question_wrapper {padding:1em;}
#show_question_header {margin-bottom:2.5em;}