// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_variables";

#secondary aside {padding:1em; @include rounded10; background:#eee; margin-bottom:2em;}

#secondary .expert aside {padding:0; background:none; margin-bottom:2em;}
.expert aside p {background:#eee; padding:.5em; @include rounded10;}

.expert aside a {color:#666;}

.not_answered {background:#fff; padding:1.25em; margin:2em 0 3em; color:#374553; border:1px solid #e5e5e5; }

.groupmasthead {border:1px solid #ddd; background:#eee; padding:2em; margin-bottom:3em;}

#comments_form textarea { width:100%; display:block; font-size:1.2em;}
h1.title {line-height:1.2em; margin:1em 0 .65em; color: #161F21; font-family: Georgia, serif; font-size:1.9em;}


label {font-weight:normal; font-size:1.4em; color:#555;}


label.error {
	color: red;
	font-style: italic
}
div.error { display: none; }
input:focus { border: 1px dotted black; }
input.error, textarea.error { border: 2px solid red; }
form.cmxform .gray * { color: gray; }


input.error, select.error, textarea.error  {
  border: 2px solid red;
  background-color:#ffffd5;
  color:red;
}

fieldset {margin-bottom:1.75em;}

.editpitch {background:#eee; padding:1em;}

#edit_question input.xl {width: 90%; max-width:100%; font-size:1.4em;}
#edit_question textarea.xl {width: 90%; max-width:100%; font-size:1.2em;}
.diff_box ul {margin:0; margin-bottom:2em; }
.diff_box li { list-style:none; margin: 0 0 .5em;  font-family: Georgia, serif; font-size:1.4em; line-height:1.3em; padding:.5em 1em; background:#fff;border:1px solid #eee;}
ins {text-decoration:none;}
ins strong {background:lime;}
del {color:#999;}
del strong {background:#F598A1; color:#000;}
.revision_description {margin:2em 0 4em; background:#E0E0E0; padding:.25em 1em;}
.revision_description p {font-size:1.2em; margin:1em 0;}
/*.revision_description p strong {background:#fff; color: #000; padding:.1em .5em; font-size:1.2em;}*/
.revision_description p strong {font-size:1.2em;}
.compared_to {font-size:1.6em !important; color:#888;}
.diff_box h3 {font-size:1.5em !important;}