// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_variables";

#data_summary, #expert_summary {border:1px solid #ddd; margin-bottom:3em; padding:1.5em; background:#fff;}
#report_summary {border:0; padding:2em; background:#fff;}
.highlight_unanswered span {background:#FFFFC1; color:#888; font-weight:normal; padding:.1em .5em;}
.highlight_unanswered a {color:#777; font-weight:bold;}
.highlight_unanswered span {background:none; color:#1C3763;}
.highlight_unanswered a {color:#1C3763; font-weight:bold; background:#fff; padding:0 .3em;}

#data_summary p, #expert_summary p {font-size:1.5em;}
#expert_summary p.downplay {font-size:1.2em !important;}

#dashboard .state_ratio .handling_rate_graph {display:block;padding:0;border:0;width:400px; position:relative; background:#BCE377; color:#083F3F; margin-bottom:0;}
#dashboard .state_ratio .handling_rate_graph .graph {display:block; background:#4F76CD; height:30px; line-height:30px; padding-left:0; overflow:hidden;}
.out_of_state {position:absolute; top:0; right:5px; line-height:30px;}
.in_state_label {padding-left:10px; color:#F0F5FF;}
.in_state {background:#4F76CD; color:#F0F5FF; padding: .05em .4em;}
.out_state {background:#BCE377; color:#083F3F; padding: .05em .4em;}


#dashboard .state_ratio {margin-bottom:10px;}
#dashboard .state_ratio_label {margin-bottom:2em; font-size:1.2em;}
.table_header {margin-top:2em;}

.simple-container {border: 1px solid #ddd; margin-bottom: 3em; padding: 1.5em; background: #fff; @include rounded10;@include wordwrap;}
.simple-highlight {background:#FFFFCE; padding:.5em 1em; font-weight:normal; font-size:1.2em;}
.simple-highlight a {color:#666;}
#myCanvas {max-width:100% !important;}