<p>Hello,</p>

<p>Thank you for submitting your question.</p>

<p>Your question has been assigned to one of our experts and they will try to answer it within 48 hours.</p>

<p>We will notify you with an email when our experts have responded and you can view your question and any answers at our website:</p>

<p><%= link_to question_url(@question), question_url(@question) %></p>

<p>You can also edit your question if you need to clarify or correct any information. A better question usually gets a better answer. Thanks! (Your question is editable until one of our experts responds.)</p>

<p>Question asked:</p>

<p><%= @question.body %></p>

<p>Thank you for using our 'Ask an Expert' system!</p>

<p>*** PLEASE DO NOT REPLY TO THIS MESSAGE ***</p>
