<%- @page_title = "Ask an Expert Evaluation - Sign in" -%>
<div id="public_aae">
  <div id="signin">
    <h1>You've reached an Ask an Expert Evaluation Page</h1>
      <h2>
        This evaluation page is locked to protect the privacy of the person who submitted the question. 
        You can complete the evaluation by entering the email address used to submit the question and answer you are evaluating.
      </h2>
        
      <%= form_tag(authorize_evaluation_path(fingerprint: @question.question_fingerprint)) do %>
        <div class="control-group">
          <div class="controls">
            <label for="email_address">Email used to submit question: 
              <%= text_field_tag("email_address")%>
            </label>
            <%= submit_tag 'Show evaluation form', :class => "submit"  %>
          </div>
        </div>
      <%- end -%>       
    </div>
</div>