  <ul class="nav nav-tabs">
    <li><%= link_to 'Explore Questions', questions_expert_data_path() %></li>
    <li><%= link_to 'Explore Locations and Groups', expert_reports_home_path() %></li>
    <li><%= link_to 'Explore Growth and Performance', expert_data_path() %></li>
  </ul>
