<h2>Due to slow load times, we have temporarily disabled reporting pages. Our engineering team is investigating solutions to the problem.</h2>

<p>In the meantime, you can help us with this issue by sharing what kind of reports you normally run. Please send these to <a href="mailto:contact-us@extension.org?Subject=Ask Reports" target="_top">contact-us@extension.org</a> with the subject line of "Ask Reports". Please include as much detail possible about the report(s) you generally run along with the frequency you run them.</p>

<p>We apologise for the inconvenience and appreciate you patience during this time.</p>