<p>
  <% if question.location_id.present? %>
    <% if question.county_id.present? %>
      <span class="tag tag-geography"><%= "#{county_names[question.county_id]}" %></span>
    <% end %>
      <span class="tag tag-geography"><%= location_abbreviations[question.location_id] %></span>
  <% else %>
  <% end %>

  <%- cached_tag_hash = question.cached_tags -%>
  <% if !cached_tag_hash.blank? %>
    <% cached_tag_hash.each do |tag_id,tag_name| %>
      <span class="tag tag-topic"><%= link_to tag_name, questions_by_tag_path(:name => tag_name) %></span>
    <% end %>
  <% end %>

  submitted <%= time_ago_in_words(question.created_at) %> ago.
</p>
