<p>
  <% if question.location_id.present? %>
    <% if question.county_id.present? %>
      <span class="tag tag-geography"><%= "#{county_names[question.county_id]}" %></span>
    <% end %>
      <span class="tag tag-geography"><%= location_abbreviations[question.location_id] %></span>
  <% else %>
  <% end %>

  <% if question.tags.size > 0 %>
    <% question.tags.each do |tag| %>
      <span class="tag tag-topic"><%= link_to tag.name, questions_by_tag_path(:name => tag.name) %></span>
    <% end %>
  <% end %>

  submitted <%= time_ago_in_words(question.created_at) %> ago.
</p>
