<div id="main" class="col-md-8">
  <h1 class="article_title">Welcome to Ask an Expert</h1>
  
    <div class="main_body">
      <p>Ask an Expert has always offered one-to-one expert answers from Cooperative Extension/University staff and volunteers from across the United States. The latest version expands that one-to-one relationship via the ability to make questions and answers publicly available, on an opt-in basis.</p>
    </div>
  
  <h2>Contact Us</h2>
  <h2><%= link_to("Ask a Question about Ask an Expert", ask_group_path(Group::EXTENSION_SUPPORT_ID), :class => "btn btn-primary btn-orange btn-large") %></h2>
  
  <% if !current_user %>
    <p>If you are a part of Cooperative Extension, please <%= link_to("sign in and tour the new site", new_user_session_path(:redirect_to => expert_home_url) )%>.</p>
  <% end %>
  
</div>