<h1>About Ask an Expert</h1>

<h2>Ask an Expert is site where you can get expert answers and help from Cooperative Extension/University staff and volunteers from across the United States.</h2>

<h2>When you ask a question you can choose to make it public and share on this site or keep it private.</h2>

