<div class="ask-extension-notice">

<h1>Ask an Expert has transitioned to new platform with a new name:</h1>
<h1 class="super-big"><span class="nobreak">Ask Extension</span></h1>

<p class="super-big-button"><a class="btn orange lg new-site-question-button" target="_parent" href="https://ask2.extension.org/?utm_source=legacy_site&utm_medium=web&utm_campaign=disabled_form">Visit the new site</a></p>

</div>
