<div class="col-sm-8 col-md-8">
  <div id="home_question_list">
    <%= render :partial => 'list_of_questions', :locals => {:questions => @answered_questions, :listview => 'answered'} %>
  </div>
</div>

<div class="col-sm-3 col-md-3 col-md-offset-1">
  <p><%= link_to(image_tag("Ask_An_Expert_logo_color.png", :class => "ask-an-expert-button", :alt =>"Ask an Expert"), ask_index_path(),:title => "One-to-one answers from a network of experts at universities across America.") %></p>
  <aside id="recent_photo_questions">
    <%= render :partial => 'recent_photo_questions', :locals => {:questions => @recent_photo_questions } %>
  </aside>

</div>
