<div id="main" class="span8">

  <ul class="nav nav-tabs">
    <li><%= link_to 'Answered', root_path() %></li>
    <li class="active"><%= link_to 'Unanswered', home_unanswered_path() %></li>
  </ul>
  
  <div id="home_question_list">
    <%= render :partial => 'list_of_questions', :locals => {:questions => @unanswered_questions, :listview => 'unanswered'} %>
  </div>

</div>

<div class="span4">
  <aside id="localization">
    <%= render :partial => 'localization' %>
  </aside>
</div>