<div class="col-md-8">
  <div id="home_question_list">
    <%= render :partial => 'list_of_questions', :locals => {:questions => @unanswered_questions, :listview => 'unanswered'} %>
  </div>
</div>

<div class="col-md-3 col-md-offset-1">
  <aside id="recent_photo_questions">
    <%= render :partial => 'recent_photo_questions', :locals => {:questions => @recent_photo_questions } %>
  </aside>
  
  <aside id="localization">
    <%= render :partial => 'localization' %>
  </aside>
</div>