<h1>Locations</h1>

<div class='row'>
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Location</th>
          <th>Primary groups</th>
        </tr>
      </thead>
      <tbody>
      <%- Location.displaylist.each do |location| -%>
        <tr>
          <td>
            <h2><%= link_to location.name, expert_location_path(id: location.id) %></h2>
            <p><%= link_to "View entry page", location_path(location.id), :class => "btn btn-default btn-xs" -%></p>
          </td>
          <td>
            <%- if(location.primary_groups.count >= 1) -%>
              <%- location.primary_groups.order(:name).each do |group| -%>
                <p>
                  <strong><%= group.name -%></strong>
                  <%- if !group.group_active? -%>
                    ( <span class="warning">Group not active</span> )
                  <%- end -%>
                  <br /><small>(<%= group.assignees.count -%> members available)</small>
                </p>
              <%- end -%>
              <!-- submittable groups? -->
              <%- if location.active_primary_groups.count < 1 -%>
                <p class="warning">This location has no submittable groups!</p>
              <%- end -%>
            <%- else -%>
              <p class="warning">No primary groups designated</p>
              <p>
                <%- if location.default_message? -%>
                  Uses default message.
                <%- else -%>
                  Has a custom message.
                <%- end -%>
              </p>
            <%- end -%>
          </td>
        </tr>
      <%- end -%>
      </tbody>
    </table>
  </div>
</div>
