<%- # TODO: there have to be better ways of doing this that utilize the action names -%>
<ul class="breadcrumb">
  <li>
    <%- if local_assigns.has_key?(:endpoint) and endpoint == 'Data' -%>
      Data<span class="divider">/</span>
    <%- else -%>
      <%= link_to('Data',expert_data_path) %><span class="divider">/</span>
    <%- end -%>
  </li>

  <%- if local_assigns.has_key?(:endpoint) and endpoint != 'Data'-%>
  <li class='active'><%= endpoint %></li>
  <%- end -%>
</ul>
