<% @page_title = "Details for Question ##{@question.id}" %>
<%= render(:partial => 'data_breadcrumbs', :locals => {:endpoint => 'Question '}) %>
<header class="jumbotron subhead" id="overview">
  <h1><%= @page_title %></h1>
</header>

<div class="row">
  <div class="span7">
    <table class="table table-condensed">
      <tbody>
      <tr>
        <td>Title</td>
        <td><%= @question.source_question.title %></td>
      </tr>
      <tr>
        <td>Source URL</td>
        <td><%= aae_source_url(@question) %></td>
      </tr>


    </tbody>
  </table>
 </div>
</div>

<div class="page-header">
   <h3>Question Activity</h3>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-condensed">
      <tbody>
      </tbody>
    </table>
  </div>
</div>
