<div class="listview">

<%= paginate @questions %>
<% if @questions.size > 0 %>
  <% @questions.each do |question| %>
    <%= render :partial => 'expert/shared/title_question', :locals => {:question => question, :show_assignments => false} %>
  <% end %>

<% else %>
  <p>There are no questions in this group with this tag</p>
<% end %>
<%= paginate @questions %>
</div>