<div id="main" class="span12">
  
  <%= render :partial => 'filter', :locals => {:listview => 'resolved'} %>  
  
  <h1>Answered Questions</h1>

  <div id="filtered_question_list"> 
    <%= render :partial => 'list_of_questions', :locals => {:questions => @recently_answered_questions, :listview => 'resolved'} %>
  </div>
  
</div>
