<h1>Groups tagged with '<%= @tag.name %>' (<%= @group_total_count %>)</h1>
<h3><%= link_to "View everything tagged '#{@tag.name}'", expert_show_tag_path(:name => @tag.name) %></h3>

<%= render partial: 'expert/home/group_list' %>
