<div id="main" class="span12">
  
  <%= render :partial => 'filter', :locals => {:listview => 'incoming'} %>  
  
  <h1>Unanswered Questions</h1>
  
  <div id="filtered_question_list">  
    <%= render :partial => 'list_of_questions', :locals => {:questions => @recent_questions, :listview => 'incoming'} %>
  </div>
  
</div>
