<div id="main" class="span12">
  
  <%= render :partial => 'filter' %>  
  
  <h1>Incoming Questions</h1>
  
  <% @recent_questions.each do |question| %>
    <%= render :partial => 'expert/shared/full_question', :locals => {:question => question, :suppress_single_badges => true} %>
  <% end %>
  
  <p><%= link_to "TODO: View all" %></p>
  
</div>
