<h1>Experts in '<%= @location.name %>' (<%= @expert_total_count %>)</h1>
<h3><%= link_to "View everything in '#{@location.name}'", expert_view_location_path(:id => @location.id) %></h3>

<%= render partial: 'expert/home/expert_list' %>