@import "_variables";

body#public {
    padding-top:100px;
.avatar {display:block; width:40px; height:40px; background:#bbb; border:1px solid #888;}
.avatar.small {display:block; width:25px; height:25px; background:#bbb; border:1px solid #888; float:left; margin-right:1em;}

.navavatar {float:right;}
.navbar {height:80px !important;}
.navbar-inner {height:80px !important;}
.navbar-inner .container {height:80px !important;}
.container-fluid {max-width:1180px; margin: 0 auto;}
.right {float:right;}
}


body#expert {
	
	background:#ddd;
	.row-fluid {background:#fff;}
	#widgetcode { margin:1em 0; padding:.5em 0;}
	#widgetcode textarea {padding:.5em;font-family:monospace;font-size:1.15em;color:#0d027e;line-height:1.5em;overflow:auto;height:100px; width:40em}
	label strong {font-size:1.2em; display:block}
    span.label a {color:#fff;}
	fieldset p {margin-bottom:2em}
    #content_wrapper {margin:3em 1.5em 1em;}
    .container-fluid {max-width:1180px; margin: 0 auto;}

    .avatar {display:block; width:40px; height:40px; background:#bbb; border:1px solid #888;}
    .avatar.small {display:block; width:25px; height:25px; background:#bbb; border:1px solid #888; float:left; margin-right:1em;}

    .navavatar {float:right;}

    .incoming_question .expert {padding:1em;}
    .incoming_question .expert .avatar {float:left; margin-right:1em;}
    .incoming_question .expert:hover {background:#eee;}

    .incoming_question {border-bottom:2px solid #ccc; margin: 0 0 1.5em; padding:0 0 1.5em;}

    .navavatar.loggedin {background:#fff; padding:.5em; outline:3px solid #000;}


    .answered_question {margin: 0 0 .5em; padding:0 0 .5em;}

    .big_avatar {width:150px; height:150px; background:#ccc; margin:0 0 2em;}

    h3 .label {font-size:.8em;}

    .section {margin:2em 0;}

    span.handling_rate {width:50%; border:1px solid #000; display:block; padding:1px}
    span.handling_rate span {width:75%; color:#555; background-color:#bbb; display:block; padding:.15em .5em;}

    .notifylink a {color:#666;}

    #flash_notification {
        height:5em;
        width:100%;
        position:fixed;
        text-align:center;
        left:0px;
        top:40px;
        z-index:100;
        opacity: 0.92;
        -moz-opacity: 0.92;
        -moz-box-shadow: #555 0px 0px 5px;
        box-shadow: #555 0px 0px 5px;
        background: #049cdb;
        background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
        background-image: -o-linear-gradient(top, #049cdb, #0064cd);
        background-image: linear-gradient(top, #049cdb, #0064cd);
        color:#fff;
        cursor:pointer;
    }
    #flash_notification.notice {} //default
    #flash_notification.error,
    #flash_notification.warning {
        color: #000;
        background: #f3e942;
        background-image: -webkit-linear-gradient(top, #f3f1c4, #f3e942);
        background-image: -o-linear-gradient(top, #049cdb, #0064cd);
        background-image: linear-gradient(top, #049cdb, #0064cd);
    }
    #flash_notification p {padding: 1em; font-size:1.5em;}   
}