@import "_variables";

.avatar {display:block; width:40px; height:40px; background:#bbb; border:1px solid #888;}
.avatar.small {display:block; width:25px; height:25px; background:#bbb; border:1px solid #888; float:left; margin-right:1em;}

.navavatar {float:right;}

