@import "_variables";

body {
	#app_location.demo {background:#FFDC50; padding:.5em 1em .1em;}
	#app_location.demo p {font-size:1.1em; color:#000;}
	#app_location.demo p a {color:#000; text-decoration:underline;}
	
	.navbar {margin-bottom:0;}
	
	#fixed_fixer {height: 35px;}
	#flash_notification_wrapper {position:relative;}
	
	#flash_notification {
      height:5em;
      width:100%;
      position:absolute;
      text-align:center;
      left:0px;
      top:0;
      z-index:100;
      opacity: 0.92;
      -moz-opacity: 0.92;
      -moz-box-shadow: #555 0px 0px 5px;
      box-shadow: #555 0px 0px 5px;
      background: #049cdb;
      background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
      background-image: -o-linear-gradient(top, #049cdb, #0064cd);
      background-image: linear-gradient(top, #049cdb, #0064cd);
      color:#fff;
      cursor:pointer;
  }
  #flash_notification.notice {} //default
  #flash_notification.error,
  #flash_notification.warning {
      color: #000;
      background: #f3e942;
      background-image: -webkit-linear-gradient(top, #f3f1c4, #f3e942);
      background-image: -o-linear-gradient(top, #049cdb, #0064cd);
      background-image: linear-gradient(top, #049cdb, #0064cd);
  }
  #flash_notification p {padding: 1em; font-size:1.5em;}
  
  @media screen and (max-width: 979px) {
    #fixed_fixer {height: 0;}
	}
}

body#public {
/*  border:3px solid red;*/
  
  #publicbar.navbar-inner {height:80px !important; background:#f47B28;
/*    opacity:0.4;*/
  }
  #publicbar.navbar-inner .container {height:80px !important;}
  
  
  #publicbar .nav .active > a,
	#publicbar .nav .active > a:hover {
	    background:#f47B28;
	}
	#publicbar .brand {color:#000;}
	
	#expertbar {border-bottom: 2px solid #000 !important;}
	#expertbar a.brand {font-size:1.1em;}
	#expertbar a:hover {color:#fff !important; text-decoration:none;}
	#expertbar .navavatar.loggedin a {color:#999;}
	#expertbar .navavatar {background:#000;}
	#expertbar.navbar-inner {min-height:35px; height:35px;}
	.logout {margin-left:1em;}
  
  
  #app_location.demo {margin-top:1em; background:#FFFF7E;}
  #content_wrapper {margin:3em 1.5em 1em;}
  .avatar {display:block; width:40px; height:40px; background:#bbb; border:1px solid #888;}
  .avatar.small {display:block; width:25px; height:25px; background:#bbb; border:1px solid #888; float:left; margin-right:1em;}

	
	
/*  .navbar {height:80px !important;}*/
	
	.navavatar {float:right; padding:.5em 2em; color:#fff;}
	.navavatar a {color:#fff;}
	.navavatar.loggedin img {border:#888 1px solid;}
	
	
	
	
	
	.container-fluid {max-width:1180px; margin: 0 auto;}
	.right {float:right;}
	
	
	@media screen and (max-width: 979px) {
		#app_location {height:auto;margin-left:-1em;margin-right:-1em;}
		padding-top:0;
	}
	
	@media screen and (min-width: 979px) {
		#publicbar .brand {color:#000; font-size:2.5em;}
	}
}


body#expert {
  #fixed_fixer {height: 60px;}
  @media screen and (max-width: 979px) {
    #fixed_fixer {height: 0;}
	}
	.brand.home {color:#fff; background:#000; margin-right:.5em; font-size:2em;}
	background:#504848;
	padding-bottom:5em;
	.row-fluid {background:#f9f9f9;}
	#widgetcode { margin:1em 0; padding:.5em 0;}
	#widgetcode textarea {padding:.5em;font-family:monospace;font-size:1.15em;color:#0d027e;line-height:1.5em;overflow:auto;height:100px; width:40em}
	label strong {font-size:1.2em; display:block}
    span.label a {color:#fff;}
	.tags {float:left;}
	.tags .label {display:block; float:left; margin:.25em; padding:.35em}
	.tags .label:hover {background:#000;}
	.tags .label a:hover {text-decoration:none !important;}
	fieldset p {margin-bottom:2em}
    #content_wrapper {margin:3em 1.5em 1em;}
    .container-fluid {max-width:1180px; margin: 0 auto;}

    .avatar {display:block; width:40px; height:40px; background:#bbb; border:1px solid #888;}
    .avatar.small {display:block; width:25px; height:25px; background:#bbb; border:1px solid #888; float:left; margin-right:1em;}

    .navavatar {float:right;}
	.navavatar {background:#000; padding:.5em 2em; border:3px solid #000;}
	.navavatar a {color:#999;}
	.navavatar img {border:#888 1px solid;}
	.navavatar a:hover {color:#fff !important; text-decoration:none;}

    .incoming_question .expert {padding:1em;}
    .incoming_question .expert .avatar {float:left; margin-right:1em;}
/*    .incoming_question .expert:hover {background:#eee;}*/
    .incoming_question {border-bottom:2px solid #eee;  padding:0; border-top:2px solid #fff;}
	.incoming_question a {color:#16426D;}
	.incoming_question .span4 {padding:1em 0; border-top:1px solid #fff;}
	.incoming_question .span8 {padding:1.5em;}
	.incoming_question:hover .span8 {background:#f5f5f5;}
	.incoming_question:hover .span4 {background:#f5f5f5;}
	.incoming_question:hover .row-fluid {background:#f5f5f5;}
/*	.incoming_question:hover {border-bottom:2px solid #bbb; border-top:2px solid #bbb;}*/

    


    .answered_question {margin: 0 0 .5em; padding:0 0 .5em;}

    .big_avatar {width:150px; height:150px; background:#ccc; margin:0 0 2em;}

    h3 .label {font-size:.8em;}

    .section {margin:2em 0;}

    span.handling_rate {width:50%; border:1px solid #000; display:block; padding:1px}
    span.handling_rate span {width:75%; color:#555; background-color:#bbb; display:block; padding:.15em .5em;}

    .notifylink a {color:#666;}

    
    

    .location_block {margin-bottom:3em; padding:1em; width: 30%; margin-bottom:1em; border:2px solid #aaa;}
	.new_location {border: 2px solid #444; margin:1em 0 2em;}
	.county_picker {padding-top:1em;}
	.location_block li {font-size:1.1em; list-style:none; font-weight:bold; padding:.35em;}
	.location_block ul {margin:0; padding:.1em;}
	.removestate, .removecounty {font-weight:normal; font-size:.8em !important; padding:2px 6px;}
    p.feedback {padding:.75em;}
    p.feedback span {background:yellow; padding:.5em;}
    .cancel.btn.left {float:left; margin-left:2em;}
    .cancel.btn.right {float:right;}
    #location_option {float:left;}
    .clearing {clear:both;}
    #location_picker {margin-bottom:3em;}
    #add_location {margin-bottom:1em;}
	.ux_actions.edit {margin:.5em 0 1em;}

	.show_location .location_block h4 {padding:1em;}
	.show_location .location_block h3 span {display:none;}
	.show_location .location_block li span {display:none;}
    #user_locations {margin-bottom:2em; padding:.1em;}
    .right {float:right;}
	
	
	
	.all_counties_added {background:yellow; padding:1em; margin:.5em .1em;}
	
	
    i {color:#ccc; font-size:.8em;}

	div.info {background:#FFFFD2; padding:1em; margin:0 0 2em; width:18em; color:#777;}
	div.info h3 {font-size:1.2em; margin:0 0 .5em; color:#444;}
	.right  {float:right;}
	.todo {background:yellow; padding:.05em .25em}
	label span {display:block; font-weight:normal; color:#777;}
	label {font-weight:bold; font-size:1.1em}
	.radio_options {padding:1em;}


	
	
	@media screen and (max-width: 979px) {
		#app_location {height:auto; margin-left:-1em;margin-right:-1em;}
	}
	
	span.removetag {padding:.1em .5em; background:#eee; color:#aaa; cursor:pointer;}
	.add_tags {cursor:pointer;}
	
	span.label {font-size:.9em;}
	
/*	#location_list {padding:1em; margin:1em 0;}*/
	#secondary aside {padding:1em; @include rounded10; background:#eee; margin-bottom:2em;}
	#secondary aside.nobg {background:#fff;}
	#secondary aside.nobg h3 {color:#534A4A;}

/*	#filter_terms td p {-webkit-transform: rotate(-45deg);}*/
	
	/*rotate 30 degrees*/
	.rotate30 {
	/*General*/
	transform: rotate(-30deg);
	/*Firefox*/
	-moz-transform: rotate(-30deg);
	/*Microsoft Internet Explorer*/
	-ms-transform: rotate(-30deg);
	/*Chrome, Safari*/
	-webkit-transform: rotate(-30deg);
	/*Opera*/
	-o-transform: rotate(-30deg);
	}
	.question.list {margin:0 0 2em; }
	#history {margin:4em 0 5em; background:#F8F8F8; color:#363955; padding:2em;}
	#history a {color:#363955;}
	#history li {margin-bottom:.5em; list-style:none;}
	textarea {width:30em;}
	#main {margin:0}
/*	#secondary {outline:1px solid blue;}*/
	.question_actions {margin-bottom:2em;}
	.question_actions.last {margin-bottom:0;}
	.question_actions span {float:left; margin-right:1em;}
	
	.bekind {padding:1em; background:#eee; margin:1em 0 2em;}
	
	#email_content {padding:2em;}
	.question_body {font-size:1.5em; line-height:1.3em; font-family: Georgia, serif;}
	.response_block p.response {font-size:1.3em; line-height:1.4em; font-family: Georgia, serif;}
	.response_block {margin-bottom:2em;}
	.response_block .author {padding: 0 0 0 1em;}
	#aaeid {color:#999; font-size:1.3em;}

	.tag {background:#BDC9B0; @include rounded3; color:#888; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
	.tag a {padding:.1em .35em; background:#BDC9B0; @include rounded3; color:#888;}
	.tag a:hover {background:#444; @include rounded3; color:#fff; text-decoration:none;}
	.tag-geography,
	.tag-geography a {background:#DAEAC9; color:#3E3553;}
	.tag-geography a:hover {background:#53785E; color:#fff;}
	.tag-topic,
	.tag-topic a {background:#C2E5EC; color:#1F5983;}
	.tag-topic a:hover {background:#2C1946; color:#fff;}
	
	
	
	
/*	#tags {border:1px solid lime;}*/
	#tag_picker_wrapper {margin:0 0 1em;}
	.subtle {color:#bbb;}
	#question_wrapper {padding:1em 2.5em;}
	#question {margin-bottom:2em;}
	.h3 {color:#3D3737;font-family: Georgia, serif; margin-bottom:1em;}
	h2.title {line-height:1.2em; margin:1em 0 .65em; color: #201B1B; font-family: Georgia, serif; font-size:1.9em}
	
	.tag_summary {padding:1em 2em; clear:left;}
	.county_list {list-style:none;}
	.county_list li {padding:.2em;}
	.map {width:80px; height:80px; border:1px solid #999; background:#D2E7BC; float:left; margin-right:1em;}
	#user_masthead {margin:0 0 4em;}
	.cursor {cursor:pointer;}
	#searchform {margin:0;padding:0; float:left;}
	#search input {float:left; margin:0 .5em 0 0; }
	#search {padding:.5em;}
	#search .btn {margin:0;}
	#search_field {}
/*	#associated_group {padding:.25em 0 0 1em;}*/
	
	#associated_group_picker {margin:0 0 3em;}
	#privacy_status a {color:#999;}
	.lock {background: transparent url(/assets/icon-bw2-32-lock.png) left 50% no-repeat; padding-left:40px; clear:left; line-height:2em;}
/*	.testh1 {outline:1px solid red; margin:1em 1em 3em;}*/
	.testh1 {}
}

/*body#expert.demo .container-fluid {margin-top:40px;}*/