// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_variables";

body#public {

.incoming_question {margin:0 0 1em; border-bottom:2px solid #e5e5e5; padding:0 0 1em;}
#institution {width:90%; height:100px; background:#ccc; margin:0 0 2em;}



.single {width:50%;margin: 0 auto;}

#day_one h1 {margin-bottom:1em;}
#day_one p{font-size: 1.5em; line-height:1.5em;}
}