// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_variables";

#main {}
//#secondary {background:#eee;}

.incoming_question {margin:0 0 1em; border-bottom:2px solid #888; padding:0 0 1em;}
#institution {width:90%; height:100px; background:#ccc;}

.navbar-inner {background:#f47B28;}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background:#f47B28;
}

.navbar .brand {
    color:#000;
}

.single {width:50%;margin: 0 auto;}


.navavatar.loggedin {background:#fff; padding:.5em; outline:3px solid #000;}