// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_variables";

#secondary aside {padding:1em; @include rounded10; background:#eee; margin-bottom:2em;}

#secondary .expert aside {padding:0; background:none; margin-bottom:2em;}
.expert aside p {background:#eee; padding:.5em; @include rounded10;}

.expert aside a {color:#666;}

.not_answered {background:#ddd; padding:2em; margin:2em 0 3em; color:#999;}

.groupmasthead {border:1px solid #ddd; background:#eee; padding:2em; margin-bottom:3em;}

#comments_form textarea { width:100%; display:block; font-size:1.2em;}
h2.title {line-height:1.2em; margin:1em 0 .65em; color: #161F21; font-family: Georgia, serif; font-size:1.9em}


label {font-weight:normal; font-size:1.4em; color:#555;}


label.error {
	color: red;
	font-style: italic
}
div.error { display: none; }
input:focus { border: 1px dotted black; }
input.error, textarea.error { border: 2px solid red; }
form.cmxform .gray * { color: gray; }


input.error, select.error, textarea.error  {
  border: 2px solid red;
  background-color:#ffffd5;
  color:red;
}

fieldset {margin-bottom:1.75em;}

.editpitch {background:#eee; padding:1em;}