<h1><%= link_to @group.name, expert_group_path() %></h1>

<div id="how_are_questions_assigned">
<h1>How are questions assigned to this group?</h1>

<h3>Questions can be assigned to this Group via...</h3>
<ul>
  
  <% if @group.widget_active %>
    <li>The Group's <%= link_to "Ask an Expert form", ask_group_path(@group.id) %></li>
    <li>The Group's widget (embedded on a third party page)</li>
  <% end %>
  <li>Manual reassignment by any AaE Expert</li>
</ul>

<% if @group.assignment_outside_locations == true %>
<h3>This group only accepts questions from certain locations. If the question 1) doesn't have a location, or 2) has a state which don't match this Group's states, it will be automatically assigned to the QW group.</h3>

<h3>However, assuming the Question's location matches the Group's location...</h3>

<% else %>
<h3>First of all, this group accepts questions from anywhere.</h3>
<% end %>


  <p> and <strong>indicates a County</strong>, 

  <% if @group.ignore_county_routing == true %>
    the county will be ignored and we look for group members with that state expertise. The question is assigned to the state expert with the least questions.
  <% else %>
     we look for group members with that county expertise. The question is assigned to the county expert with the least questions.
  <% end %>
</p>



<p>If a question submitted through the Group <strong>Ask an Expert form</strong> or <strong>widget</strong> and <strong>indicates a State</strong></p>



<h3>If a question with a State submitted through the Group Ask an Expert form or widget...</h3>


<h3>If a question is submitted through the Group Ask an Expert form or widget...</h3>


<h3>If a question is submitted through the Group Ask an Expert form or widget...</h3>




<% if @group.assignment_outside_locations == true %>

<p>it will be assigned to the QW group if the question doesn't have a location or is outside this group's state(s).</p>

<p>Otherwise if the question has a county, we look for group members with that county expertise. The question is assigned to the county expert with the least questions.</p>

<p>If there's a state, but no county the question, we look for group members with that state expertise. The question is assigned to the state expert with the least questions.</p>

<% else %>
If the question has a county, we look for group members with that county expertise. The question is assigned to the county expert with the least questions.

If the question has a state, we look for group members with that state expertise. The question is assigned to the state expert with the least questions.

If the question has a county, it will be ignored and we look for group members with that state expertise. The question is assigned to the state expert with the least questions.

<% end %>


<h2>If another expert assigns a question to this group...</h2>


</div>