$( "<p><%= escape_javascript(link_to @tag.name, questions_by_tag_expert_groups_path(:group_id => @group.id, :tag_id => @tag.id)) %> [x]</p>" ).prependTo( "#tag_list" );
$( "#tag_list" ).scrollTop( 0 );


