<h1><%= link_to @group.name, expert_group_path() %></h1>

<h3>Group Settings > History</h3>

<%= render :partial => 'expert/groups/settings_navigation' %>

<h3>Discussion about what should appear on this page:</h3>

<p>(access to eXtension Basecamp required)</p>

<p><%= link_to "https://basecamp.com/1851571/projects/925213-ask-an-expert-2-0/todos/12943998-groups", "https://basecamp.com/1851571/projects/925213-ask-an-expert-2-0/todos/12943998-groups" %></p>