$("#leadership_options").html("<%= escape_javascript(render partial: 'leadership_options') %>");
$('#leadership_options').prepend('<h3><span>Thanks for helping with this group! You are now a group leader.</span></h3> ');
$("#membership_connection").html("<%= escape_javascript(render partial: 'membership_connection') %>");

$("#group_members p").first().append(' <strong><i class="icon-user"></i> Leader</strong>').fadeIn();

