<h1><%= link_to @group.name, expert_group_path() %> Members</h1>

<% @group_members.each do |member| %>
  <p><%= get_avatar(member) %> <%= link_to member.name, expert_user_path(member.id) %></p>
<% end %>