<h1><%= link_expert_group_avatar(@group, :thumb) %> <%= link_to @group.name, expert_group_path(@group.id) %> questions tagged with '<%= @tag.name %>'</h1>

<% if @questions.length > 0 %>
  <% @questions.each do |question| %>
    <%= render :partial => 'expert/shared/title_question', :locals => {:question => question, :show_assignments => false} %>
  <% end %>

<% else %>
  <p>There are no questions in this group with this tag</p>
<% end %>