<h1><%= link_to @group.name, expert_group_path() %></h1>

<h3>Group Settings > Tags</h3>

<%= render :partial => 'expert/groups/settings_navigation' %>

<div class="ui-widget">
	<label for="tag_picker">Tags: </label>
	<input id="tag_picker" />
</div>

<div id="tag_list" style="margin-top:1em; font-size:1.2em;">
<% if @group_tags.length > 0 %>
  <% @group_tags.each do |tag| %>
    <p><%= link_to tag.name, questions_by_tag_expert_groups_path(:group_id => @group.id, :tag_id => tag.id) %> [x]</p>
  <% end %>
<% else %>
  <p>There are no tags at this time.</p>
<% end %>
</div>

<script class="code" type="text/javascript">
$(function() {
		function add_tag(tag) {
		  $.ajax({
        type: "POST",
        url: "<%= expert_groups_add_tag_path(:id => @group.id) %>",
        cache: false,
        data: {tag: tag}
      })
      .done(function() {
				$("#tag_picker").autocomplete("close");
				$("#tag_picker").val('');
				return false;
      })  
      .fail(function() {
        alert("error");
        $("#tag_picker").autocomplete("close");
  			$("#tag_picker").val('');
  			return false;
      })
		}

		$("#tag_picker").autocomplete({
			source: "/ajax/tags",
			minLength: 2,
			select: function(e) {
			  add_tag(this.value);
			}
		}).keypress(function(e) {
      if (e.keyCode === 13) {
        add_tag(this.value);
      }
    });
	});
</script>