<div class='row-fluid'>
  <div class="span12">
    <div class="alert alert-block alert-error">
    <h4>Warning! Under Construction</h4>
    <p>The current Ask an Expert reports are experimental and a work in progress, released so that we can get individual activity reports to those that need them now, and to begin exploring the data we have available. Any of these reports can change at any time between now and the projected initial release date of a stable set of Ask an Expert reports. <%= link_to('Learn more.', reports_home_path) %></p>
    </div>
  </div>
</div>