<div class='row-fluid'>
  <div class="span12 about">
  <h1>Ask an Expert Reports</h1>

  <p>Due to the changes to Ask and Expert 2.0 and limitations in the original reporting implementation for the previous Ask an Expert application, all of the reporting logic is being re-written from the ground up. The new reports should be available during the first quarter of 2013, and will include traditional question performance metrics as well as the results from the application's evaluation and demographic surveys sent to question submitters.</p>

  <p>The focus of the data gathering in the application is to try and surface data that furthers the goal of Ask an Expert: getting the public the best answer they can get to their question in a timely fashion, and we also want to highlight the success stories in the application, those Extension staff focused on that goal. We'll make sure that individuals active in the application can get their activity for their own review processes in departments in their institutions as well.</p>

  <p>We'd love your feedback! If you have thoughts and opinions on the kind of data that you want to see exposed in the Ask an Expert metrics and reports - please <%= link_to('contact our eXtension Engineering team', ask_group_url(Group.engineering_group)) %>. We'll make sure that you are added to the forums where the reporting discussion is taking place, and our staff currently actively working on the Ask an Expert reporting effort will be incorporating as many of the suggestions and ideas in that discussion as they can.</p>
  </div>
</div>